In [1]:
from IPython.display import HTML
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import urllib2
import bs4
import time
import operator
import re 
    
%matplotlib inline
import seaborn as sns

In [37]:
data = pd.read_csv('cleaned_GaCountiesODDeath.csv', na_values=[" ", ""] ,sep=',', index_col=0)
hospital = pd.read_csv('cleaned_GaHospitals.csv', na_values=[" ", ""] ,sep=',', index_col=0)

In [43]:
df.head()

     County  Rural    1yrlag    5yrlag  10yrlag  2016
0   Appling      1  0.000000  0.000000        0     3
1  Atkinson      1  0.000000  0.000000        0     1
2     Bacon      1  0.000000 -1.000000       -1     0
3     Baker      1 -1.000000  0.000000        0     0
4     Banks      1  0.333333 -0.333333        3     4

In [39]:
#data[['Counties','Rural', '2016', '1yrlag', '2yrlag', '10yrlag']]
data['1yrlag']=(data['2016']-data['2015'])/data['2015']
data['5yrlag']=(data['2016']-data['2011'])/data['2011']
data['10yrlag']=(data['2016']-data['2006'])/data['2006']
data=data.replace([np.inf, -np.inf], np.nan)
data = data.fillna(0)

In [41]:
df = data[['County','Rural', '1yrlag', '5yrlag', '10yrlag','2016']].copy()

In [42]:
pd.concat([df, hospital['Count']])

      0   10yrlag    1yrlag  2016    5yrlag         County  Rural
0   NaN  0.000000  0.000000     3  0.000000        Appling      1
1   NaN  0.000000  0.000000     1  0.000000       Atkinson      1
2   NaN -1.000000  0.000000     0 -1.000000          Bacon      1
3   NaN  0.000000 -1.000000     0  0.000000          Baker      1
4   NaN  3.000000  0.333333     4 -0.333333          Banks      1
5   NaN  0.000000  0.000000     1  0.000000       Ben Hill      1
6   NaN -0.666667  0.000000     1  0.000000        Berrien      1
7   NaN  0.000000 -0.666667     1  0.000000       Bleckley      1
8   NaN  2.500000  0.400000     7  0.000000       Brantley      1
9   NaN  0.000000  0.000000     1 -0.500000         Brooks      1
10  NaN  0.000000 -1.000000     0  0.000000          Bryan      1
11  NaN  1.000000  0.333333     4  3.000000          Burke      1
12  NaN  0.000000 -0.333333     4  0.333333          Butts      1
13  NaN  0.000000  0.000000     1  0.000000        Calhoun      1
14  NaN -0.500000 -0.500000     1  0.000000        Candler      1
15  NaN  0.000000 -0.666667     1  0.000000       Charlton      1
16  NaN -1.000000  0.000000     0 -1.000000  Chattahoochee      1
17  NaN  1.333333  0.750000     7  1.333333      Chattooga      1
18  NaN  0.000000  0.000000     1  0.000000           Clay      1
19  NaN  0.000000  0.000000     1  0.000000         Clinch      1
20  NaN  0.000000 -1.000000     0 -1.000000           Cook      1
21  NaN  0.500000  0.000000     3 -0.500000       Crawford      1
22  NaN -0.500000  0.000000     1  0.000000          Crisp      1
23  NaN -1.000000 -1.000000     0 -1.000000           Dade      1
24  NaN  0.000000 -0.285714     5  1.500000         Dawson      1
25  NaN  2.000000  0.000000     3  0.000000        Decatur      1
26  NaN  1.000000  0.000000     4  1.000000          Dodge      1
27  NaN -0.500000  0.000000     1  0.000000          Dooly      1
28  NaN  0.000000  0.000000     2  0.000000          Early      1
29  NaN -1.000000 -1.000000     0  0.000000         Echols      1
..   ..       ...       ...   ...       ...            ...    ...
129   0       NaN       NaN   NaN       NaN            NaN    NaN
130   0       NaN       NaN   NaN       NaN            NaN    NaN
131   1       NaN       NaN   NaN       NaN            NaN    NaN
132   0       NaN       NaN   NaN       NaN            NaN    NaN
133   0       NaN       NaN   NaN       NaN            NaN    NaN
134   0       NaN       NaN   NaN       NaN            NaN    NaN
135   2       NaN       NaN   NaN       NaN            NaN    NaN
136   1       NaN       NaN   NaN       NaN            NaN    NaN
137   1       NaN       NaN   NaN       NaN            NaN    NaN
138   1       NaN       NaN   NaN       NaN            NaN    NaN
139   0       NaN       NaN   NaN       NaN            NaN    NaN
140   1       NaN       NaN   NaN       NaN            NaN    NaN
141   0       NaN       NaN   NaN       NaN            NaN    NaN
142   0       NaN       NaN   NaN       NaN            NaN    NaN
143   1       NaN       NaN   NaN       NaN            NaN    NaN
144   1       NaN       NaN   NaN       NaN            NaN    NaN
145   0       NaN       NaN   NaN       NaN            NaN    NaN
146   1       NaN       NaN   NaN       NaN            NaN    NaN
147   1       NaN       NaN   NaN       NaN            NaN    NaN
148   0       NaN       NaN   NaN       NaN            NaN    NaN
149   1       NaN       NaN   NaN       NaN            NaN    NaN
150   1       NaN       NaN   NaN       NaN            NaN    NaN
151   0       NaN       NaN   NaN       NaN            NaN    NaN
152   0       NaN       NaN   NaN       NaN            NaN    NaN
153   0       NaN       NaN   NaN       NaN            NaN    NaN
154   1       NaN       NaN   NaN       NaN            NaN    NaN
155   0       NaN       NaN   NaN       NaN            NaN    NaN
156   1       NaN       NaN   NaN       NaN            NaN    NaN
157   0       NaN       NaN   NaN       NaN            NaN    NaN
158   1       NaN       NaN   NaN       NaN            NaN    NaN

[318 rows x 7 columns]